!!!
%html{:lang => "en"}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
		%meta{ 'name' => 'viewport', 'content'=>'width=device-width, initial-scale=1.0' }
		%title Welcome to localactor.org
		= stylesheet_link_tag 'mailing-list'
	%body
		
		%table#external{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0"}
			%tr
				%td#externaltd		
					%table#main{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0"}
						/
							%tr
								%td
									.logo
									%p.month
										WELCOME EMAIL/ 
										%span
											DICEMBER 2012 
										
						%tr.story
							%td.story
								
								%h1.title.santa 
									<span class="grinch">_</span>__M_ERRY CH_RISTMA<span class="grinch">_</span>S <span class="diabetes">/</span> <span class="grinch">AND</span> HAPPY NEW <span class="diabetes">//</span> _YEAR.
								%p.subtitle 
									*** For those that has baked us, for those that we have backed, a sincere wish.
								%a{:href=>'http://thedoersproject.com',:target=>'_blank'}
									= image_tag 'pics.png' 
									= image_tag 'the_doers.jpg',	:class => 'noscale'
						%tr.story
							%td.full
								= image_tag 'tree.png'

								
						