!!!
%html{:lang => "en"}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
		%meta{ 'name' => 'viewport', 'content'=>'width=device-width, initial-scale=1.0' }
		%title Welcome to localactor.org
		= stylesheet_link_tag 'mailing-list'
	%body
		
		%table#external{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0"}
			%tr
				%td#externaltd		
					%table#main{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0"}
						%tr
							%td
								.logo
								%p.month
									WELCOME EMAIL/ 
									%span
										DICEMBER 2012
						%tr.story
							%td.story
								%p.description 
									Dear *|LNAME|*!,<br />
									Welcome to <a href='localactors.org'>LocalActors.org</a>
								%h1.title 
									DIRECT LINK PROJECT-SUPPORTER
								%p.subtitle 
									As announced we are launching a website to create a direct link between those who run projects and those who want to support them.
								%p.description 
									Few of such websites exist, but none is focusing on local non-for-profit projects world-wide while giving a chance to wide range of set-ups.
								%hr.border
						%tr.story
							%td.story
								%h1.title 
									Global Issues - Local Action
								%p.subtitle 
									WITH ECONOMIC RECESSION ALL SMALL AND LOCALLY TARGETED PROJECTS ARE IN DANGER:
								%p.description 
									yet there is a lot of will to keep the local action running! If you have a project, through LocalActors.org you can address small donors directly and world-wide. 
									If you want to support a particular local project, you can choose to do so either financially, with human resources or your skills.
								%hr.border
						%tr.story
							%td.story
								%h1.title
									Transparency and Feedback
								%p.subtitle
									WE WANT TO SUPPORT LOCAL ACTION BECAUSE WE SEE THE PURPOSE AND THE RESULT CLEARLY.  
								%p.description
									At the same time we want to know what happened next; were the animals saved, 
									was the school build? To join the local action, we all want to know where exactly the support goes and which specific benefits it brings.  
								%hr.border
						%tr.story
							%td.story
								%h1.title 
									What to do Next
								%p.subtitle 
									<a href="localactors.org">LOCALACTORS.ORG</a> WILL ROLL OUT IN THREE STEPS
								%p.description 
									+ End of 2012 - Beginning of 2013 - LocalActors.org founding team & supporters gather first projects and get in touch with a kick-off community of users <br />
									+ Early spring - Beta-test with self-registration of projects on the website<br />
									+ Spring - Going live<br />
								%hr.border
						%tr.story
							%td.story
								%h1.title 
									You (want to) run a Project and would like to enter a new phase?
								%p.subtitle 
									LOOK AT OUR HOME PAGE GUIDANCE AND GET IN CONTACT
								%p.description 
									To publish your project we need description of it 60-100 words (what you want to achieve, when and how), support needed to accomplish the project (money, people, materials) 
									and information about yourself. We will give you our dedicated support to prepare an attractive page on LocalActors.org website to raise funds.
								%hr.border
						%tr.story
							%td.story
								%h1.title 
									You know anyone who would like to use this website for his/her Project?
								%p.subtitle 
									ASK THEM TO GET IN CONTACT WITH US.
								%p.description 
									We will help to prepare material to publish, to attract interest and funding.
								%hr.border
						%tr.story
							%td.story
								%h1.title 
									You want to browse and support projects?
								%p.subtitle 
									ONCE THIS FUNCTION IS AVAILABLE WE WILL INFORM YOU IN DUE TIME.
								%p.description 
									Our landing page is available at: <a href="localactors.org">LocalActors.org</a>
								%hr.border
						
						%tr.story
							%td.story
								%p.description
									<br /><br /><br />
									More to come soon we promise!<br /><br />
									Your <a href="localactors.org">LocalActors.org</a><br /><br />
									If you wish to unsubscribe, please, click on this link...<br />